.vscode
.idea

*.exe
DS_Store

node_modules

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*pnpm-debug.log*

.wireit
.turbo
dist
.next

.swc
*.env*

.vercel

*.tsbuildinfo
next-env.d.ts
deploy.sh

.nitro
.output
.nuxt
